<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rivan.trashcanv4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".informasi.Informasi"></activity>
        <activity android:name=".tipesampah.DetailTipeSampah"
            android:label="Tipe Sampah">

        </activity>
        <activity android:name=".tipesampah.TipeSampah"
            android:label="@string/tipe_sampah"/>
        <activity android:name=".loginregis.RegisterActivity" />
        <activity android:name=".loginregis.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>